/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
body {
    font-family:"Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    text-align: center;
}

#Procesador::before {
    content: "\2022"; /* Código Unicode para el punto */
    margin-right: 0.5em; /* Espacio entre el punto y el texto */
}

#Windows::before {
    content: "\2022"; /* Código Unicode para el punto */
    margin-right: 0.5em; /* Espacio entre el punto y el texto */
}

#UnidadSolida::before {
    content: "\2022"; /* Código Unicode para el punto */
    margin-right: 0.5em; /* Espacio entre el punto y el texto */
}

#IntelIris::before {
    content: "\2022"; /* Código Unicode para el punto */
    margin-right: 0.5em; /* Espacio entre el punto y el texto */
}

h1 {
    font-size: 15px;
}

/*Boton*/
.btn {
    /* Estilos generales para todos los botones */
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary {
    /* Estilos específicos para botones con clase btn-primary */
    background-color: #007bff; /* Azul primario */
    color: #fff; /* Texto blanco */
}

.btn-primary:hover {
    /* Cambios de estilo al pasar el mouse sobre el botón */
    background-color: #0056b3; /* Azul más oscuro */
}

/* Estilo para imágenes */
img {
    border: 3px solid #0056b3; /* Borde alrededor de las imágenes */
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave alrededor de las imágenes */
}
